body {
  background-color: lightgray;
}

.Blog {
  text-align: center;
}

.Blog-logo {
  height: 40vmin;
}

.Blog-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Blog-link {
  color: #09d3ac;
}
#content {
  margin-bottom: 4em;
}

.ui.dividing.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

i.icon {
  margin: 0;
}

.test1 {
  background-color: #BCC6CC;
  display: inline-block;
}